
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
  
    position: relative;
}
.nav{
    height: 100px;
    width: 100%;
   border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap:4vw
}
.nav h2{
    font-size: 3vw;
}
.nav h4{
    font-size:1vw ;
}
.nav button{
    font-size: 1.1vw;
    padding: 0.5vw 1.5vw;
    background-color:#808080;
    border: none;
    border-radius: 2vw;
}
.nav i{
    font-size: 1.3vw;
    font-weight: 600;
    display: none;
}
.content{
    width: 100%;
    height: calc(100% - 100px);
   
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
   padding: 2.5vw 5vw;
}
.left h1{
    font-size: 3.5vw;
    line-height: 4vw;
}
span{
    color: #8A2BE2;
}
.left p{
    font-size: 1.5vw;
    margin-top: 2.5vw;
    margin-bottom: 4vw;
}
 button{
    font-size: 1.5vw;
    padding: 1vw 2vw;
   background-color:#8A2BE2;
    border: none;
    border-radius: 2vw;
    font-weight: 600;
}
.right{
    height: 100%;
    width:50%; 
}
.right img{
    width: 100%;
    height: 100%;
}




@media (max-width:600px) {
    .nav{
        height: 70px;
        padding: 0 5vw;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 4.5vw;
    }
    .content{
       flex-direction: column;
        height: calc(100% - 70px);
    }
    .left{
        height:55% ;
        width: 100%;
        padding: 4.4vw 6vw;
    }
    .left h1{
        font-size: 7vw;
        line-height: 10vw;
    }
    .left p{
        font-size: 5.5vw;
        width: 100%;
        margin-top: 4vw;
        margin-bottom: 8vw;
    }
    button{
        font-size: 3.5vw;
        padding: 2vw 3vw;
    }
    .right{
        width: 100%;
        height: 45%;
    }

}